/*
 * File: dialognewproject.component.css
 * Version: 1.0
 * Type: css
 * Date: 23-05-2017
 * Author: Alberto Giudice
 * E-mail: digitalcookies.group@gmail.com
 *
 * License: GNU General Public License v3.0
 *
 *
 * Registro modifiche:
 * Alberto Giudice || 23-05-2017 || creazione css per il componente dialognewproject
 *
 */




.popup {
	width:30em;
}

.popup h2{
	font-size: 2em;
	font-family: 'Roboto Light 100', sans-serif;
	margin-top: 0.5em;
	margin-bottom: 1em;
	color: #424242;
}

.form-control {
	width: 100%;
	font-size: 1.3em;
	font-family: 'Roboto Light', sans-serif;
	color: #424242;
}

.btn-success {
	float:right;
	font-size: 1.3em;
	font-family: 'Roboto Light', sans-serif;
    padding: 0.3em;
    width: 35%;
    margin-top: 1em;
    color: #ededed;
}
