<!--
 * File: firstpage.component.html
 * Version: 1.0
 * Type: html
 * Date: 23-05-2017
 * Author: ALberto Giudice
 * E-mail: digitalcookies.group@gmail.com
 *
 * License: GNU General Public License v3.0
 *
 *
 * Registro modifiche:
 * Alberto Giudice || 23-05-2017 || creazione di html per contenere il componente firstpage
 *
-->




<div class="firstpage">
	<div class="slogan">
	<img src="assets/logo.png" height="150em"/>
		<h1>{{titoloslogan}}</h1>

	<div class="buttons">
		<button id="button1" md-raised-button color="primary" (click)="opendialognewproject()">Nuovo Progetto</button>
		<button id="button2" md-raised-button color="primary" (click)="opendialoguploadproject()">Carica Progetto</button>
	</div>

</div>
</div>
