/*
 * File: classdiagrameditor.component.css
 * Version: 1.0
 * Type: css
 * Date: 30-05-2017
 * Author: Alberto Giudice
 * E-mail: digitalcookies.group@gmail.com
 *
 * License: GNU General Public License v3.0
 *
 * Registro modifiche:
 * Alberto Giudice || 30-05-2017 || creazione css per l'editor del diagramma delle classi
 *
 */

.diagramBlock {
	float: left;
	display:inline-block;
	width:60%;
	height: 100%;
	background-color: #ededed;
	color: #424242;
  	font-size: 1.3em;
  	font-family: 'Roboto Light', sans-serif;
  	text-align: center;
  }
