<!--
 * File: codepage.component.html
 * Version: 1.0
 * Type: html
 * Date: 16-06-2017
 * Author: Saverio Follador
 * E-mail: digitalcookies.group@gmail.com
 *
 * License: GNU General Public License v3.0
 *
 * Registro modifiche:
 * Saverio Follador || 16-06-2017 ||creazione div html per il componente che contiene la i componenti della generazione di codice
 *
-->




<div class="projectnameBar">{{this.project.getName()}}</div>
<div class="container">
<app-codelistafilepalette></app-codelistafilepalette>
<app-codeditor></app-codeditor>
<app-codegeneratepalette></app-codegeneratepalette>
</div>
