<!--
* File: activitydiagrampalette.component
* Version: 0.9
* Type: html
* Date: 02-06-2017
* Author: Carlo Sindico
* E-mail: digitalcookies.group@gmail.com
*
* License: GNU General Public License v3.0
*
*
* Registro modifiche:
* Carlo Sindico || 02-06-2017 || creazione div html per contenere la palette di destra della libreria dei metodi prelevati dal Back-end
*
-->


<span class="paletteDX" xmlns="http://www.w3.org/1999/html">
    <div class="myActivityLibraryItem" *ngFor="let activity of this.activityList; let i=index" [attr.data-index]="i">
      <span class="insertMethod" [attr.listened]="false" id={{activity.Id}}><img src="../../../../assets/insert.svg" class="listImage"></span>
      <h2 (click)="open(i)">
           {{activity.Titolo}}
            <span class="plus" *ngIf="!toggleList[i]"><img src="../../../../assets/piu.svg" class="listImage"></span>
        <span class="minus" *ngIf="toggleList[i]"><img src="../../../../assets/meno.svg"  class="listImage"></span>
         </h2>
               <span class = "methodDescription" *ngIf="toggleList[i]">
                  <p>SEGNATURA:
                    {{activity.Segnatura}}</p>
                  <p>PRECONDIZIONE:
                    {{activity.Pre}}</p>
                  <p>POSTCONDIZIONE:
                 {{activity.Post}}
                  </p>
               </span>

    </div>
  </span>
