/*
 * File: classdiagrampalette.component.css
 * Version: 1.0
 * Type: css
 * Date: 31-05-2017
 * Author: Alberto Giudice
 * E-mail: digitalcookies.group@gmail.com
 *
 * License: GNU General Public License v3.0
 *
 * Registro modifiche:
 * Alberto Giudice || 31-05-2017 || creazione css per la palette contente i blocchi del diagramma delle classi
 *
 */


.paletteDX {
	float:right;
	display:inline-block;
	width:20%;
	height: 100%;
	background-color: #2e323e;
	color: #ededed;
  	font-size: 1.3em;
  	padding: 0.5em;
  	font-family: 'Roboto Light', sans-serif;
  	text-align: center;
}
