<!--
 * File: codelistafilepalette.component.html
 * Version: 0.9
 * Type: html
 * Date: 17-06-2017
 * Author: Alberto Rossetti
 * E-mail: digitalcookies.group@gmail.com
 *
 * License: GNU General Public License v3.0
 *
 * Registro modifiche:
 * Alberto Rossetti || 17-06-2017 ||creazione div html per la palette contente i file del codice generato
 *
-->

<span class="paletteSX">
    <div id="fileList">
      <h2>    Lista File     </h2>
           <ul>
             <li  *ngFor="let file of this.project.getCode()" (click)="this.setSelectedFile(file.name)">
                <span class="fileListActive" *ngIf="this.project.getSelectedFileName() === file.name">{{file.name}}</span>
                <span *ngIf="!(this.project.getSelectedFileName() === file.name)">{{file.name}}</span>
             </li>
           </ul>
  </div>
</span>
