<!--
* File: classpage.component
* Version: 1.0
* Type: html
* Date: 01-06-2017
* Author: Alberto Giudice
* E-mail: digital.cookies.group@gmail.com
*
* License: GNU General Public License v3.0
*
*
* Registro modifiche:
* Alberto Giudice || 01-06-2017 || creazione div html contenente tutti i componenti del diagramma delle classi
*
*/
-->

<div class="projectnameBar">{{this.project.getName()}}</div>
<div class="container">
<app-libreriafiltripalette></app-libreriafiltripalette>
<app-classdiagrameditor></app-classdiagrameditor>
<app-classdiagrampalette></app-classdiagrampalette>
</div>
